:root
{
    --spacing-xxl:250px;
    --spacing-xl:150px;
    --spacing-l:100px;
    --spacing-m:50px;
    --spacing-s:25px;
    --spacing-xs:15px;
    --spacing-xxs:5px;

    --font-size-s: 15px;
    --font-size-m: 30px;
    --font-size-l: 45px;

    --imagesize-xl: 150px; 

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

 

header
{
 
    height: 100vh;
    background-image: url(file:///C:/REMYBOY2/ALX/GIT%20Files/alx_html_css/headphones/images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

nav
{

    display: flex;
    justify-content: space-between;
    
}

.sub-nav
{   color: white; 
    font-size: 12px; 
    font-family: Source Sans Pro; 
    font-weight: 700;
    list-style: none;
    display: flex;
    column-gap: var(--spacing-xs);
    padding-right: var(--spacing-l);
    padding-top: var(--spacing-s);
}

nav > img
{
   display: flex;
   padding-left: var(--spacing-xl);
   padding-top: var(--spacing-m);
   width: var(--imagesize-xl);
   height: 32px;
}

.hero-details    
{
    color: white;
    padding-top: 280px;
    padding-bottom: 148px;     
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{ padding-left: 29px;}
h4{padding-left: 65px;}


.headingtexts
{
    color: white; 
    font-size: 32px; 
    font-family: Source Sans Pro; 
    font-weight: 700;
}
.headingtexts > input
{   font-size: 14px; 
    font-weight: 600;
    background-color: #FF6565;
    color: white;
    width: 180px;
    height: 40px;
    border: 1px solid #FF6565;
    border-radius: 20px;
}

p{ text-align: center;}

.paragraphs > p
{
    color: white;
    align-items: center;
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
}

/* Centering the logo on small screens */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add padding for better spacing */
}

.sub-nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

/* A media query for small screens */
@media screen and (max-width: 600px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .sub-nav {
        flex-direction: column;
        align-items: center;
    }
}

.what_we_do {
   
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:white;

    padding-top: var(--spacing-s);
}

.greeting-section {
    padding-top: var(--spacing-xl);
    text-align: center;
    padding: var(--spacing-l);
    color: black;
}

.big-hello {
    font-size: var(--font-size-l);
    margin-bottom: var(--spacing-m);
}

.img-lib {
     padding-top: var(--spacing-l);
}


.Our-results{
    background-image: url("file:///C:/REMYBOY2/ALX/GIT%20Files/alx_html_css/headphones/images/headphones_hero_2.jpg");    
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.inner-text{
    text-align: center;
    color: white;
    font-size: var(--font-size-m);
    padding-top: var(--spacing-l);
}

.inner-paragraph{
    text-align: center;
    color: white;
    font-size: var(--font-size-s);
    padding-top: var(--spacing-s);


}

.dots {
    padding-top: var(--spacing-m);
    padding-left: 60px;
    text-align: center;
}

.dot-image {
    margin-right:var(--spacing-m); 
}

.contact-us{
    text-align: center;
    background-color: white;
    padding-top: var(--spacing-xl);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}


.footer{
    background-color: #071629;
    height: 60vh;

}
.bottom-imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: var(--spacing-l);

}

.Lastp{
    color: rgb(124, 122, 117);
    padding-top: var(--spacing-xl);
}


